@font-face {
	font-family: "Flaticon";
	src: url("../font/mini-icon/flaticon.eot");
	src: url("../font/mini-icon/flaticon.eot#iefix") format("embedded-opentype"),
	url("../font/mini-icon/flaticon.woff") format("woff"),
	url("../font/mini-icon/flaticon.ttf") format("truetype"),
	url("../font/mini-icon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: inherit;
font-style: normal;
}.flaticon-achievement:before {
	content: "\e000";
}
.flaticon-add-circle:before {
	content: "\e001";
}
.flaticon-add-circle1:before {
	content: "\e002";
}
.flaticon-add-folder:before {
	content: "\e003";
}
.flaticon-airplane:before {
	content: "\e004";
}
.flaticon-angle-down:before {
	content: "\e005";
}
.flaticon-angle-left:before {
	content: "\e006";
}
.flaticon-angle-right:before {
	content: "\e007";
}
.flaticon-angle-up:before {
	content: "\e008";
}
.flaticon-armchair:before {
	content: "\e009";
}
.flaticon-arrow-down-long:before {
	content: "\e00a";
}
.flaticon-arrow-right-long:before {
	content: "\e00b";
}
.flaticon-arrow-up-long:before {
	content: "\e00c";
}
.flaticon-arrrow-left-long:before {
	content: "\e00d";
}
.flaticon-badge:before {
	content: "\e00e";
}
.flaticon-bag:before {
	content: "\e00f";
}
.flaticon-bag1:before {
	content: "\e010";
}
.flaticon-bag2:before {
	content: "\e011";
}
.flaticon-baked:before {
	content: "\e012";
}
.flaticon-bed:before {
	content: "\e013";
}
.flaticon-bedlamp:before {
	content: "\e014";
}
.flaticon-bike:before {
	content: "\e015";
}
.flaticon-books:before {
	content: "\e016";
}
.flaticon-books1:before {
	content: "\e017";
}
.flaticon-briefcase:before {
	content: "\e018";
}
.flaticon-building:before {
	content: "\e019";
}
.flaticon-calculator:before {
	content: "\e01a";
}
.flaticon-calendar2:before {
	content: "\e01b";
}
.flaticon-calendar:before {
	content: "\e01c";
}
.flaticon-camera:before {
	content: "\e01d";
}
.flaticon-car:before {
	content: "\e01e";
}
.flaticon-cellphone:before {
	content: "\e01f";
}
.flaticon-chart:before {
	content: "\e020";
}
.flaticon-clock-sand:before {
	content: "\e021";
}
.flaticon-clock:before {
	content: "\e022";
}
.flaticon-clock3:before {
	content: "\e023";
}
.flaticon-close:before {
	content: "\e024";
}
.flaticon-coffee:before {
	content: "\e025";
}
.flaticon-coin:before {
	content: "\e026";
}
.flaticon-compute:before {
	content: "\e027";
}
.flaticon-credit1:before {
	content: "\e028";
}
.flaticon-crown:before {
	content: "\e029";
}
.flaticon-cutlery:before {
	content: "\e02a";
}
.flaticon-delete:before {
	content: "\e02b";
}
.flaticon-direction:before {
	content: "\e02c";
}
.flaticon-discount:before {
	content: "\e02d";
}
.flaticon-done:before {
	content: "\e02e";
}
.flaticon-dot:before {
	content: "\e02f";
}
.flaticon-drink:before {
	content: "\e030";
}
.flaticon-drink1:before {
	content: "\e031";
}
.flaticon-earth:before {
	content: "\e032";
}
.flaticon-edit:before {
	content: "\e033";
}
.flaticon-email:before {
	content: "\e034";
}
.flaticon-email1:before {
	content: "\e035";
}
.flaticon-eye:before {
	content: "\e036";
}
.flaticon-factory:before {
	content: "\e037";
}
.flaticon-fast-food:before {
	content: "\e038";
}
.flaticon-file:before {
	content: "\e039";
}
.flaticon-file1:before {
	content: "\e03a";
}
.flaticon-folder1:before {
	content: "\e03b";
}
.flaticon-folder:before {
	content: "\e03c";
}
.flaticon-fruit:before {
	content: "\e03d";
}
.flaticon-game:before {
	content: "\e03e";
}
.flaticon-gas-station:before {
	content: "\e03f";
}
.flaticon-gear:before {
	content: "\e040";
}
.flaticon-gift:before {
	content: "\e041";
}
.flaticon-graphic1:before {
	content: "\e042";
}
.flaticon-graphic2:before {
	content: "\e043";
}
.flaticon-graphics:before {
	content: "\e044";
}
.flaticon-heart:before {
	content: "\e045";
}
.flaticon-history:before {
	content: "\e046";
}
.flaticon-home:before {
	content: "\e047";
}
.flaticon-hospital:before {
	content: "\e048";
}
.flaticon-hotel:before {
	content: "\e049";
}
.flaticon-hotel1:before {
	content: "\e04a";
}
.flaticon-image:before {
	content: "\e04b";
}
.flaticon-image1:before {
	content: "\e04c";
}
.flaticon-info:before {
	content: "\e04d";
}
.flaticon-key:before {
	content: "\e04e";
}
.flaticon-lab:before {
	content: "\e04f";
}
.flaticon-lab1:before {
	content: "\e050";
}
.flaticon-lab2:before {
	content: "\e051";
}
.flaticon-lamp:before {
	content: "\e052";
}
.flaticon-left-arrow:before {
	content: "\e053";
}
.flaticon-link:before {
	content: "\e054";
}
.flaticon-list:before {
	content: "\e055";
}
.flaticon-location:before {
	content: "\e056";
}
.flaticon-location1:before {
	content: "\e057";
}
.flaticon-luggage:before {
	content: "\e058";
}
.flaticon-map:before {
	content: "\e059";
}
.flaticon-map1:before {
	content: "\e05a";
}
.flaticon-math:before {
	content: "\e05b";
}
.flaticon-medal:before {
	content: "\e05c";
}
.flaticon-melody:before {
	content: "\e05d";
}
.flaticon-menu-mobile:before {
	content: "\e05e";
}
.flaticon-microscope:before {
	content: "\e05f";
}
.flaticon-money-bag:before {
	content: "\e060";
}
.flaticon-credit:before {
	content: "\e061";
}
.flaticon-monitor:before {
	content: "\e062";
}
.flaticon-movie:before {
	content: "\e063";
}
.flaticon-right-arrow:before {
	content: "\e064";
}
.flaticon-origami:before {
	content: "\e065";
}
.flaticon-pie:before {
	content: "\e066";
}
.flaticon-play-button:before {
	content: "\e067";
}
.flaticon-power:before {
	content: "\e068";
}
.flaticon-printer:before {
	content: "\e069";
}
.flaticon-projector:before {
	content: "\e06a";
}
.flaticon-question:before {
	content: "\e06b";
}
.flaticon-restaurant:before {
	content: "\e06c";
}
.flaticon-search:before {
	content: "\e06d";
}
.flaticon-setting:before {
	content: "\e06e";
}
.flaticon-shopping-cart:before {
	content: "\e06f";
}
.flaticon-shower:before {
	content: "\e070";
}
.flaticon-shower1:before {
	content: "\e071";
}
.flaticon-bed-single:before {
	content: "\e072";
}
.flaticon-speech1:before {
	content: "\e073";
}
.flaticon-chat2:before {
	content: "\e074";
}
.flaticon-speech:before {
	content: "\e075";
}
.flaticon-speedometer6:before {
	content: "\e076";
}
.flaticon-star:before {
	content: "\e077";
}
.flaticon-stock:before {
	content: "\e078";
}
.flaticon-store:before {
	content: "\e079";
}
.flaticon-subway:before {
	content: "\e07a";
}
.flaticon-tag:before {
	content: "\e07b";
}
.flaticon-tag1:before {
	content: "\e07c";
}
.flaticon-targets:before {
	content: "\e07d";
}
.flaticon-telephone:before {
	content: "\e07e";
}
.flaticon-up-arrow:before {
	content: "\e07f";
}
.flaticon-down-arrow:before {
	content: "\e080";
}
.flaticon-user:before {
	content: "\e081";
}
.flaticon-video:before {
	content: "\e082";
}
.flaticon-website:before {
	content: "\e083";
}
.flaticon-wifi:before {
	content: "\e084";
}
