<div class="container">

<div class="row">

    <div class="col-md-3">
       <div class="about-pp">
       		<img src="styles/img/about/IMG_5665.jpg">
       </div>
    </div>
    <div class="col-md-9">
    	<h3>Objectives</h3>
    	<p>To work in a dynamic and creative environment and contribute in the development of recent technology. I have a passion on creating innovative and usable product with my skills. I want to be the part in a team that works at the forefront of technology.</p>
    	<h3>Skills</h3>
    	<ul>
    		<li>HTML, Java, CSS, PHP, MySQL, Javascript</li>
			<li>Specific frameworks : SASS/Compass, AngularJS</li>
			<li>SVN system with Git</li>
			<li>SCRUM method and agile software development process</li>
			<li>UI &amp; UX Design process (wireframing with Balsamiq or Visio, creating prototype with Adobe Photoshop, Illustrator)</li>
			<li>Usability Testing and User Centered Design</li>
    	</ul>

    	<p>&nbsp;</p>
    	<p>Hello, I'm Ela! I have a passion on creating a <span class="fc-primary">usable</span> and <span class="fc-primary">useful</span> products with recent technology.</p>
    	<p>Right now I pursue my Master Degree in Interactive Media Technology at KTH Royal Institute of Technology, Stockholm. For me, this is my opportunity to develop my skill and passion on interactive media. Previously, I worked for 3 years as a Frontend Developer at Varnion International in a beautiful city in Indonesia called Bandung.</p>
    	<p>I spent my free time to listening to <a href="last.fm/user/lastserenity" target="_blank">music</a>, watching movies (especially korean dramas), and walking around Stockholm and taking some <a href="http://instagram.com/elaelation" target="_blank">pictures</a>!</p>
    	<p>Contact me at:<br>
    	<a href="mailto:elayudhanira@gmail.com">elayudhanira@gmail.com</a></p>

    </div>

</div>

<!-- etc., more information about the company…. -->

</div>